In [351]:
import numpy as np 
import pandas as pd
from math import *

# les lois utilisées: 
### 1. loi uniforme

In [352]:
temps_inter_arri=np.random.uniform(0,1,1000)

In [353]:
type_client=np.random.uniform(0,1,1000)

In [354]:
def client_label(type_client):
    if type_client<0.5:
        return 'A'
    else: 
        return 'B'
    
def label_temps_inter(d):
    if d<0.25:
        return 2
    elif d<0.5:
        return 3
    elif d<0.75:
        return 4
    else :
        return 5
  
    
def temps_arriv(d):
    l=[]
    l.append(d[0])
    for i in range(1,len(d)):
        l.append(d[i]+l[i-1])
    return l
def goto2(g):
    if g<0.5:
        return 0
    else :return 1
    
def goto1(g):
    if g<0.25:
        return 0
    else :return 1

def label_temps_service(d):
    if d<0.2:
        return 1
    elif d<0.4:
        return 2
    elif d<0.6:
        return 3
    elif d<0.8:
        return 4
    else :
        return 5

   

def debut_fin_service(temps_service,temps_arr):
    d=[]
    f=[]
    temps_service=temps_service.values.tolist()
    temps_arr=temps_arr.values.tolist()
    d.append(temps_arr[0])
    f.append(temps_arr[0]+temps_service[0])
    for i in range(1,len(temps_arr)):
        d.append(max(temps_arr[i],f[i-1]))
        x=d[i]+temps_service[i]
        f.append(x)
    return d,f


def temps_attent(d,a):
    l=[]
    d=d.values.tolist()
    a=a.values.tolist()
    for i in range(len(d)):
        l.append(max(0,d[i]-a[i]))
    return l  

def temps_system(d,f):
    l=[]
    d=d.values.tolist()
    f=f.values.tolist()
    for i in range(len(d)):
        l.append(f[i]-d[i])
    return l  

def serveur_libre(a,f):
    l=[]
    a=a.values.tolist()
    f=f.values.tolist()
    l.append(0)
    for i in range(1,len(a)):
        l.append(max(0,a[i]-f[i-1]))
    return l

In [355]:
serveur1['label_temps_serv']

0      4
1      2
2      1
3      3
4      2
      ..
495    4
496    1
497    1
498    4
499    4
Name: label_temps_serv, Length: 500, dtype: int64

In [356]:
df.temps_inter_arri[0]

0.513012471171312

In [357]:
d = {'temps_inter_arri': temps_inter_arri, 'type_client': type_client}
df = pd.DataFrame(data=d)

In [358]:
df['label_client']=df.type_client.apply(client_label)

In [359]:
df['label_temps_inter']=df['temps_inter_arri'].apply(label_temps_inter)

In [360]:
l=temps_arriv(df.label_temps_inter)

In [361]:
df['temps_arriv']=l

In [362]:
df

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv
0,0.949204,0.355542,A,5,5
1,0.591242,0.636096,B,4,9
2,0.589128,0.918998,B,4,13
3,0.163905,0.213132,A,2,15
4,0.514040,0.512997,B,4,19
...,...,...,...,...,...
995,0.981296,0.206979,A,5,3504
996,0.634541,0.388490,A,4,3508
997,0.193483,0.524550,B,2,3510
998,0.199964,0.115965,A,2,3512
999,0.703546,0.336166,A,4,3516

In [363]:
serveur1=df[df['label_client']=='A']
serveur2=df[df['label_client']=='B']

In [364]:
serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)
serveur1['vient_2']=0
serveur2['vient_1']=0

In [365]:
serveur2.sort_values(by='temps_arriv')

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_1
0,0.591242,0.636096,B,4,9,0
1,0.589128,0.918998,B,4,13,0
2,0.514040,0.512997,B,4,19,0
3,0.170773,0.581259,B,2,21,0
4,0.528539,0.510594,B,4,25,0
...,...,...,...,...,...,...
503,0.491782,0.790569,B,3,3469,0
504,0.516792,0.688349,B,4,3486,0
505,0.801989,0.754740,B,5,3491,0
506,0.381704,0.862196,B,3,3499,0
507,0.193483,0.524550,B,2,3510,0

In [366]:
serveur1.shape[0]

492

In [367]:
serveur2.shape[0]

508

In [368]:
serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)
temps_service1=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
temps_service2=np.random.uniform(0,1,len(serveur2.temps_inter_arri))
serveur1['temps_service']=pd.DataFrame(temps_service1)
serveur2['temps_service']=pd.DataFrame(temps_service2)

In [369]:
serveur2

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_1,temps_service
0,0.591242,0.636096,B,4,9,0,0.077394
1,0.589128,0.918998,B,4,13,0,0.818313
2,0.514040,0.512997,B,4,19,0,0.780948
3,0.170773,0.581259,B,2,21,0,0.357131
4,0.528539,0.510594,B,4,25,0,0.978226
...,...,...,...,...,...,...,...
503,0.491782,0.790569,B,3,3469,0,0.967229
504,0.516792,0.688349,B,4,3486,0,0.735566
505,0.801989,0.754740,B,5,3491,0,0.018779
506,0.381704,0.862196,B,3,3499,0,0.782676
507,0.193483,0.524550,B,2,3510,0,0.034443

In [370]:
serveur2['label_temps_serv']=serveur2.temps_service.apply(lambda x :label_temps_inter(x))
serveur2

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_1,temps_service,label_temps_serv
0,0.591242,0.636096,B,4,9,0,0.077394,2
1,0.589128,0.918998,B,4,13,0,0.818313,5
2,0.514040,0.512997,B,4,19,0,0.780948,5
3,0.170773,0.581259,B,2,21,0,0.357131,3
4,0.528539,0.510594,B,4,25,0,0.978226,5
...,...,...,...,...,...,...,...,...
503,0.491782,0.790569,B,3,3469,0,0.967229,5
504,0.516792,0.688349,B,4,3486,0,0.735566,4
505,0.801989,0.754740,B,5,3491,0,0.018779,2
506,0.381704,0.862196,B,3,3499,0,0.782676,5
507,0.193483,0.524550,B,2,3510,0,0.034443,2

In [371]:
serveur1['label_temps_serv']=serveur1['temps_service'].apply(label_temps_service)
serveur1

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_2,temps_service,label_temps_serv
0,0.949204,0.355542,A,5,5,0,0.675556,4
1,0.163905,0.213132,A,2,15,0,0.545548,3
2,0.572475,0.400729,A,4,29,0,0.150098,1
3,0.507862,0.364783,A,4,42,0,0.624541,4
4,0.728846,0.203553,A,4,46,0,0.518347,3
...,...,...,...,...,...,...,...,...
487,0.875082,0.458835,A,5,3496,0,0.657728,4
488,0.981296,0.206979,A,5,3504,0,0.292434,2
489,0.634541,0.388490,A,4,3508,0,0.069981,1
490,0.199964,0.115965,A,2,3512,0,0.561492,3
491,0.703546,0.336166,A,4,3516,0,0.734738,4

In [372]:
go_to_2=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
go_to_1=np.random.uniform(0,1,len(serveur2.temps_inter_arri))

In [373]:
serveur1['go_to_2']=pd.DataFrame(go_to_2)
serveur2['go_to_1']=pd.DataFrame(go_to_1)
serveur2['goto1']=serveur2['go_to_1'].apply(goto1)
serveur1['goto2']=serveur1['go_to_2'].apply(goto2)

In [374]:
serveur1

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_2,temps_service,label_temps_serv,go_to_2,goto2
0,0.949204,0.355542,A,5,5,0,0.675556,4,0.084999,0
1,0.163905,0.213132,A,2,15,0,0.545548,3,0.428840,0
2,0.572475,0.400729,A,4,29,0,0.150098,1,0.415946,0
3,0.507862,0.364783,A,4,42,0,0.624541,4,0.291861,0
4,0.728846,0.203553,A,4,46,0,0.518347,3,0.972797,1
...,...,...,...,...,...,...,...,...,...,...
487,0.875082,0.458835,A,5,3496,0,0.657728,4,0.846501,1
488,0.981296,0.206979,A,5,3504,0,0.292434,2,0.584222,1
489,0.634541,0.388490,A,4,3508,0,0.069981,1,0.167378,0
490,0.199964,0.115965,A,2,3512,0,0.561492,3,0.341239,0
491,0.703546,0.336166,A,4,3516,0,0.734738,4,0.290324,0

In [375]:
serveur2

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_1,temps_service,label_temps_serv,go_to_1,goto1
0,0.591242,0.636096,B,4,9,0,0.077394,2,0.495127,1
1,0.589128,0.918998,B,4,13,0,0.818313,5,0.601958,1
2,0.514040,0.512997,B,4,19,0,0.780948,5,0.539852,1
3,0.170773,0.581259,B,2,21,0,0.357131,3,0.942972,1
4,0.528539,0.510594,B,4,25,0,0.978226,5,0.297175,1
...,...,...,...,...,...,...,...,...,...,...
503,0.491782,0.790569,B,3,3469,0,0.967229,5,0.870574,1
504,0.516792,0.688349,B,4,3486,0,0.735566,4,0.191646,0
505,0.801989,0.754740,B,5,3491,0,0.018779,2,0.996432,1
506,0.381704,0.862196,B,3,3499,0,0.782676,5,0.182187,0
507,0.193483,0.524550,B,2,3510,0,0.034443,2,0.411977,1

In [376]:
t1=debut_fin_service(serveur1.label_temps_serv,serveur1.temps_arriv)
t2=debut_fin_service(serveur2.label_temps_serv,serveur2.temps_arriv)

In [377]:
serveur2['depart']=t2[0]
serveur2['fin']=t2[1]

In [378]:
serveur1['depart']=t1[0]
serveur1['fin']=t1[1]

In [379]:
tm1=temps_attent(serveur1['depart'],serveur1['temps_arriv'])
tm2=temps_attent(serveur2['depart'],serveur2['temps_arriv'])
serveur1['attent']=tm1
serveur2['attent']=tm2

In [380]:
ts1=temps_system(serveur1['depart'],serveur1['fin'])
ts2=temps_system(serveur2['depart'],serveur2['fin'])
serveur1['temps_service']=ts1
serveur2['temps_service']=ts2

In [381]:
serv_libr_1=serveur_libre(serveur1['temps_arriv'],serveur1['fin'])
serv_libr_2=serveur_libre(serveur2['temps_arriv'],serveur2['fin'])
serveur1['serveur_libre']=serv_libr_1
serveur2['serveur_libre']=serv_libr_2

In [382]:
serveur1

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_2,temps_service,label_temps_serv,go_to_2,goto2,depart,fin,attent,serveur_libre
0,0.949204,0.355542,A,5,5,0,4,4,0.084999,0,5,9,0,0
1,0.163905,0.213132,A,2,15,0,3,3,0.428840,0,15,18,0,6
2,0.572475,0.400729,A,4,29,0,1,1,0.415946,0,29,30,0,11
3,0.507862,0.364783,A,4,42,0,4,4,0.291861,0,42,46,0,12
4,0.728846,0.203553,A,4,46,0,3,3,0.972797,1,46,49,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,0.875082,0.458835,A,5,3496,0,4,4,0.846501,1,3496,3500,0,11
488,0.981296,0.206979,A,5,3504,0,2,2,0.584222,1,3504,3506,0,4
489,0.634541,0.388490,A,4,3508,0,1,1,0.167378,0,3508,3509,0,2
490,0.199964,0.115965,A,2,3512,0,3,3,0.341239,0,3512,3515,0,3
491,0.703546,0.336166,A,4,3516,0,4,4,0.290324,0,3516,3520,0,1

In [383]:
serveur2

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_1,temps_service,label_temps_serv,go_to_1,goto1,depart,fin,attent,serveur_libre
0,0.591242,0.636096,B,4,9,0,2,2,0.495127,1,9,11,0,0
1,0.589128,0.918998,B,4,13,0,5,5,0.601958,1,13,18,0,2
2,0.514040,0.512997,B,4,19,0,5,5,0.539852,1,19,24,0,1
3,0.170773,0.581259,B,2,21,0,3,3,0.942972,1,24,27,3,0
4,0.528539,0.510594,B,4,25,0,5,5,0.297175,1,27,32,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,0.491782,0.790569,B,3,3469,0,5,5,0.870574,1,3471,3476,2,0
504,0.516792,0.688349,B,4,3486,0,4,4,0.191646,0,3486,3490,0,10
505,0.801989,0.754740,B,5,3491,0,2,2,0.996432,1,3491,3493,0,1
506,0.381704,0.862196,B,3,3499,0,5,5,0.182187,0,3499,3504,0,6
507,0.193483,0.524550,B,2,3510,0,2,2,0.411977,1,3510,3512,0,6

In [384]:
serveur1_=serveur1
serveur2_=serveur2
go_to_1_from_2=serveur2[serveur2['goto1']==1]
go_to_2_from_1=serveur1[serveur1['goto2']==1]
go_to_1_from_2=go_to_1_from_2.reset_index(drop=True)
go_to_2_from_1=go_to_2_from_1.reset_index(drop=True)

In [385]:
go_to_1_from_2

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_1,temps_service,label_temps_serv,go_to_1,goto1,depart,fin,attent,serveur_libre
0,0.591242,0.636096,B,4,9,0,2,2,0.495127,1,9,11,0,0
1,0.589128,0.918998,B,4,13,0,5,5,0.601958,1,13,18,0,2
2,0.514040,0.512997,B,4,19,0,5,5,0.539852,1,19,24,0,1
3,0.170773,0.581259,B,2,21,0,3,3,0.942972,1,24,27,3,0
4,0.528539,0.510594,B,4,25,0,5,5,0.297175,1,27,32,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,0.051261,0.856119,B,2,3463,0,5,5,0.267973,1,3463,3468,0,1
382,0.327487,0.934235,B,3,3466,0,3,3,0.735878,1,3468,3471,2,0
383,0.491782,0.790569,B,3,3469,0,5,5,0.870574,1,3471,3476,2,0
384,0.801989,0.754740,B,5,3491,0,2,2,0.996432,1,3491,3493,0,1
385,0.193483,0.524550,B,2,3510,0,2,2,0.411977,1,3510,3512,0,6

In [386]:
go_to_1_from_2['temps_arriv']=go_to_1_from_2['fin']
go_to_1_from_2=go_to_1_from_2.drop(columns=['go_to_1','goto1','vient_1'])

In [387]:
go_to_2_from_1

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,vient_2,temps_service,label_temps_serv,go_to_2,goto2,depart,fin,attent,serveur_libre
0,0.728846,0.203553,A,4,46,0,3,3,0.972797,1,46,49,0,0
1,0.904565,0.132371,A,5,67,0,4,4,0.517282,1,67,71,0,18
2,0.576379,0.049189,A,4,71,0,4,4,0.628477,1,71,75,0,0
3,0.455776,0.361896,A,3,76,0,1,1,0.655526,1,76,77,0,1
4,0.370816,0.469367,A,3,85,0,3,3,0.793594,1,85,88,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,0.072037,0.286129,A,2,3455,0,1,1,0.718153,1,3455,3456,0,1
247,0.310570,0.053329,A,3,3461,0,2,2,0.730208,1,3461,3463,0,5
248,0.521453,0.239833,A,4,3477,0,4,4,0.978330,1,3478,3482,1,0
249,0.875082,0.458835,A,5,3496,0,4,4,0.846501,1,3496,3500,0,11
250,0.981296,0.206979,A,5,3504,0,2,2,0.584222,1,3504,3506,0,4

In [388]:
go_to_2_from_1['temps_arriv']=go_to_2_from_1['fin']
go_to_2_from_1=go_to_2_from_1.drop(columns=['go_to_2','goto2','vient_2'])

In [389]:
serveur1_=serveur1_.drop(columns=['go_to_2','goto2','vient_2'])
serveur2_=serveur2_.drop(columns=['go_to_1','goto1','vient_1'])

In [390]:
serveur1_=pd.concat([serveur1_,go_to_1_from_2])
serveur2_=pd.concat([serveur2_,go_to_2_from_1])

In [391]:
serveur1_=serveur1_.sort_values(by='temps_arriv')
serveur1_

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,temps_service,label_temps_serv,depart,fin,attent,serveur_libre
0,0.949204,0.355542,A,5,5,4,4,5,9,0,0
0,0.591242,0.636096,B,4,11,2,2,9,11,0,0
1,0.163905,0.213132,A,2,15,3,3,15,18,0,6
1,0.589128,0.918998,B,4,18,5,5,13,18,0,2
2,0.514040,0.512997,B,4,24,5,5,19,24,0,1
...,...,...,...,...,...,...,...,...,...,...,...
488,0.981296,0.206979,A,5,3504,2,2,3504,3506,0,4
489,0.634541,0.388490,A,4,3508,1,1,3508,3509,0,2
490,0.199964,0.115965,A,2,3512,3,3,3512,3515,0,3
385,0.193483,0.524550,B,2,3512,2,2,3510,3512,0,6
491,0.703546,0.336166,A,4,3516,4,4,3516,3520,0,1

In [392]:
serveur2_=serveur2_.sort_values(by='temps_arriv')
serveur2_

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,temps_service,label_temps_serv,depart,fin,attent,serveur_libre
0,0.591242,0.636096,B,4,9,2,2,9,11,0,0
1,0.589128,0.918998,B,4,13,5,5,13,18,0,2
2,0.514040,0.512997,B,4,19,5,5,19,24,0,1
3,0.170773,0.581259,B,2,21,3,3,24,27,3,0
4,0.528539,0.510594,B,4,25,5,5,27,32,2,0
...,...,...,...,...,...,...,...,...,...,...,...
505,0.801989,0.754740,B,5,3491,2,2,3491,3493,0,1
506,0.381704,0.862196,B,3,3499,5,5,3499,3504,0,6
249,0.875082,0.458835,A,5,3500,4,4,3496,3500,0,11
250,0.981296,0.206979,A,5,3506,2,2,3504,3506,0,4
507,0.193483,0.524550,B,2,3510,2,2,3510,3512,0,6

In [393]:
serveur1_=serveur1_.reset_index(drop=True)
serveur2_=serveur2_.reset_index(drop=True)

# recalcule

In [394]:
t1=debut_fin_service(serveur1_.label_temps_serv,serveur1_.temps_arriv)
t2=debut_fin_service(serveur2_.label_temps_serv,serveur2_.temps_arriv)
serveur2_['depart']=t2[0]
serveur2_['fin']=t2[1]
serveur1_['depart']=t1[0]
serveur1_['fin']=t1[1]
tm1=temps_attent(serveur1_['depart'],serveur1_['temps_arriv'])
tm2=temps_attent(serveur2_['depart'],serveur2_['temps_arriv'])
serveur1_['attent']=tm1
serveur2_['attent']=tm2
ts1=temps_system(serveur1_['depart'],serveur1_['fin'])
ts2=temps_system(serveur2_['depart'],serveur2_['fin'])
serveur1_['temps_service']=ts1
serveur2_['temps_service']=ts2
serv_libr_1=serveur_libre(serveur1_['temps_arriv'],serveur1_['fin'])
serv_libr_2=serveur_libre(serveur2_['temps_arriv'],serveur2_['fin'])
serveur1_['serveur_libre']=serv_libr_1
serveur2_['serveur_libre']=serv_libr_2

In [395]:
serveur1_

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,temps_service,label_temps_serv,depart,fin,attent,serveur_libre
0,0.949204,0.355542,A,5,5,4,4,5,9,0,0
1,0.591242,0.636096,B,4,11,2,2,11,13,0,2
2,0.163905,0.213132,A,2,15,3,3,15,18,0,2
3,0.589128,0.918998,B,4,18,5,5,18,23,0,0
4,0.514040,0.512997,B,4,24,5,5,24,29,0,1
...,...,...,...,...,...,...,...,...,...,...,...
873,0.981296,0.206979,A,5,3504,2,2,3504,3506,0,4
874,0.634541,0.388490,A,4,3508,1,1,3508,3509,0,2
875,0.199964,0.115965,A,2,3512,3,3,3512,3515,0,3
876,0.193483,0.524550,B,2,3512,2,2,3515,3517,3,0
877,0.703546,0.336166,A,4,3516,4,4,3517,3521,1,0

In [396]:
serveur2_

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,temps_service,label_temps_serv,depart,fin,attent,serveur_libre
0,0.591242,0.636096,B,4,9,2,2,9,11,0,0
1,0.589128,0.918998,B,4,13,5,5,13,18,0,2
2,0.514040,0.512997,B,4,19,5,5,19,24,0,1
3,0.170773,0.581259,B,2,21,3,3,24,27,3,0
4,0.528539,0.510594,B,4,25,5,5,27,32,2,0
...,...,...,...,...,...,...,...,...,...,...,...
754,0.801989,0.754740,B,5,3491,2,2,3491,3493,0,1
755,0.381704,0.862196,B,3,3499,5,5,3499,3504,0,6
756,0.875082,0.458835,A,5,3500,4,4,3504,3508,4,0
757,0.981296,0.206979,A,5,3506,2,2,3508,3510,2,0
758,0.193483,0.524550,B,2,3510,2,2,3510,3512,0,0

In [397]:
serveur2_['serveur_libre'].mean()

1.3306982872200264

In [398]:
serveur1_['serveur_libre'].mean()

0.7562642369020501

In [399]:
serveur1_['attent'].mean()

3.3018223234624147

In [400]:
serveur2_['attent'].mean()

2.0421607378129116

### taux d'occupation

In [406]:
sum(serveur2.serveur_libre)/3512

0.4908883826879271

In [408]:
taux_occup=1-sum(serveur2.serveur_libre)/3512
taux_occup

0.5091116173120729

In [410]:
taux_fill=taux_occup*taux_occup/(1-taux_occup)
taux_fill

0.528011352525514

In [412]:
nbr_system=taux_fill+taux_occup
nbr_system

1.0371229698375868

In [418]:
nbr_sejour=17*nbr_system
nbr_sejour

17.631090487238975

In [434]:
nbr_sejour=8*nbr_system
nbr_sejour

8.296983758700694

### 2. loi exponentiel avec parametre 1/$\lambda$

In [445]:
def generateur_exp1(p):
    return (-1/8*log2(p))
def generateur_exp2(p):
    return (-1/17*log2(p))
def generateur_exp3(p):
    return (-1/20*log2(p))
def generateur_exp4(p):
    return (-1/30*log2(p))

In [463]:
temps_inter_arri=np.random.uniform(0,1,1000)

type_client=np.random.uniform(0,1,1000)


d = {'temps_inter_arri': temps_inter_arri, 'type_client': type_client}
df = pd.DataFrame(data=d)

df['label_client']=df.type_client.apply(client_label)

#df['label_temps_inter']=df['temps_inter_arri'].apply(label_temps_inter)
temps_inter_arri=np.random.uniform(0,1,1000)
type_client=np.random.uniform(0,1,1000)
df['label_client']=df.type_client.apply(client_label)


serveur1=df[df['label_client']=='A']
serveur2=df[df['label_client']=='B']


serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)




serveur1['label_temps_inter']=serveur1['temps_inter_arri'].apply(generateur_exp1)
l=temps_arriv(serveur1.label_temps_inter)
serveur1['temps_arriv']=l
serveur2['label_temps_inter']=serveur2['temps_inter_arri'].apply(generateur_exp2)
l=temps_arriv(serveur2.label_temps_inter)
serveur2['temps_arriv']=l

serveur1.shape[0]
serveur2.shape[0]

serveur2.sort_values(by='temps_arriv')
serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)
temps_service1=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
temps_service2=np.random.uniform(0,1,len(serveur2.temps_inter_arri))
serveur1['temps_service']=pd.DataFrame(temps_service1)
serveur2['temps_service']=pd.DataFrame(temps_service2)

serveur2['label_temps_serv']=serveur2.temps_service.apply(generateur_exp3)
serveur2

serveur1['label_temps_serv']=serveur1['temps_service'].apply(generateur_exp3)
serveur1

go_to_2=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
go_to_1=np.random.uniform(0,1,len(serveur2.temps_inter_arri))

serveur1['go_to_2']=pd.DataFrame(go_to_2)
serveur2['go_to_1']=pd.DataFrame(go_to_1)
serveur2['goto1']=serveur2['go_to_1'].apply(goto1)
serveur1['goto2']=serveur1['go_to_2'].apply(goto2)



t1=debut_fin_service(serveur1.label_temps_serv,serveur1.temps_arriv)
t2=debut_fin_service(serveur2.label_temps_serv,serveur2.temps_arriv)

serveur1['depart']=t1[0]
serveur1['fin']=t1[1]

serveur2['depart']=t2[0]
serveur2['fin']=t2[1]


tm1=temps_attent(serveur1['depart'],serveur1['temps_arriv'])
tm2=temps_attent(serveur2['depart'],serveur2['temps_arriv'])
serveur1['attent']=tm1
serveur2['attent']=tm2

ts1=temps_system(serveur1['depart'],serveur1['fin'])
ts2=temps_system(serveur2['depart'],serveur2['fin'])
serveur1['temps_service']=ts1
serveur2['temps_service']=ts2

serv_libr_1=serveur_libre(serveur1['temps_arriv'],serveur1['fin'])
serv_libr_2=serveur_libre(serveur2['temps_arriv'],serveur2['fin'])
serveur1['serveur_libre']=serv_libr_1
serveur2['serveur_libre']=serv_libr_2

serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)

serveur1_=serveur1
serveur2_=serveur2
go_to_1_from_2=serveur2[serveur2['goto1']==1]
go_to_2_from_1=serveur1[serveur1['goto2']==1]
go_to_1_from_2=go_to_1_from_2.reset_index(drop=True)
go_to_2_from_1=go_to_2_from_1.reset_index(drop=True)

go_to_1_from_2


go_to_1_from_2['temps_arriv']=go_to_1_from_2['fin']
go_to_1_from_2=go_to_1_from_2.drop(columns=['go_to_1','goto1'])

go_to_2_from_1['temps_arriv']=go_to_2_from_1['fin']
go_to_2_from_1=go_to_2_from_1.drop(columns=['go_to_2','goto2'])

go_to_1_from_2=go_to_1_from_2.reset_index(drop=True)
go_to_2_from_1=go_to_2_from_1.reset_index(drop=True)

serveur1_=serveur1_.drop(columns=['go_to_2','goto2'])
serveur2_=serveur2_.drop(columns=['go_to_1','goto1'])

serveur1_=pd.concat([serveur1_,go_to_1_from_2])
serveur2_=pd.concat([serveur2_,go_to_2_from_1])

serveur1_=serveur1_.reset_index(drop=True)
serveur2_=serveur2_.reset_index(drop=True)

serveur1_=serveur1_.sort_values(by='temps_arriv')
serveur1_

serveur2_=serveur2_.sort_values(by='temps_arriv')
serveur2_

serveur1_=serveur1_.reset_index(drop=True)
serveur2_=serveur2_.reset_index(drop=True)





t1=debut_fin_service(serveur1_.label_temps_serv,serveur1_.temps_arriv)
t2=debut_fin_service(serveur2_.label_temps_serv,serveur2_.temps_arriv)
serveur2_['depart']=t2[0]
serveur2_['fin']=t2[1]
serveur1_['depart']=t1[0]
serveur1_['fin']=t1[1]
tm1=temps_attent(serveur1_['depart'],serveur1_['temps_arriv'])
tm2=temps_attent(serveur2_['depart'],serveur2_['temps_arriv'])
serveur1_['attent']=tm1
serveur2_['attent']=tm2
ts1=temps_system(serveur1_['depart'],serveur1_['fin'])
ts2=temps_system(serveur2_['depart'],serveur2_['fin'])
serveur1_['temps_service']=ts1
serveur2_['temps_service']=ts2
serv_libr_1=serveur_libre(serveur1_['temps_arriv'],serveur1_['fin'])
serv_libr_2=serveur_libre(serveur2_['temps_arriv'],serveur2_['fin'])
serveur1_['serveur_libre']=serv_libr_1
serveur2_['serveur_libre']=serv_libr_2

In [464]:
serveur2_

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,temps_service,label_temps_serv,depart,fin,attent,serveur_libre
0,0.005780,0.692933,B,0.437332,0.437332,0.020406,0.020406,0.437332,0.457738,0.000000,0.000000
1,0.829888,0.478009,A,0.033626,0.466369,0.182860,0.182860,0.466369,0.649229,0.000000,0.008631
2,0.403778,0.523164,B,0.076963,0.514295,0.072631,0.072631,0.649229,0.721860,0.134934,0.000000
3,0.412379,0.595557,B,0.075174,0.589469,0.063062,0.063062,0.721860,0.784923,0.132391,0.000000
4,0.383578,0.947474,B,0.081318,0.670787,0.034233,0.034233,0.784923,0.819156,0.114135,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
743,0.269376,0.379214,A,0.236539,86.846578,0.163654,0.163654,86.846578,87.010232,0.000000,0.249355
744,0.930333,0.351430,A,0.013023,86.936133,0.089555,0.089555,87.010232,87.099787,0.074100,0.000000
745,0.681668,0.370073,A,0.069107,87.542208,0.001292,0.001292,87.542208,87.543500,0.000000,0.442422
746,0.594021,0.108014,A,0.093927,87.762216,0.127373,0.127373,87.762216,87.889589,0.000000,0.218716
747,0.850474,0.334004,A,0.029208,88.025196,0.262980,0.262980,88.025196,88.288177,0.000000,0.135608

In [465]:
serveur1_

,temps_inter_arri,type_client,label_client,label_temps_inter,temps_arriv,temps_service,label_temps_serv,depart,fin,attent,serveur_libre
0,0.250163,0.113740,A,0.249882,0.249882,0.021173,0.021173,0.249882,0.271056,0.000000,0.000000
1,0.829888,0.478009,A,0.033626,0.283509,0.182860,0.182860,0.283509,0.466369,0.000000,0.012453
2,0.005780,0.692933,B,0.437332,0.457738,0.020406,0.020406,0.466369,0.486775,0.008631,0.000000
3,0.403778,0.523164,B,0.076963,0.586926,0.072631,0.072631,0.586926,0.659557,0.000000,0.100152
4,0.412379,0.595557,B,0.075174,0.652531,0.063062,0.063062,0.659557,0.722619,0.007026,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
883,0.681668,0.370073,A,0.069107,87.540916,0.001292,0.001292,87.540916,87.542208,0.000000,0.063482
884,0.594021,0.108014,A,0.093927,87.634843,0.127373,0.127373,87.634843,87.762216,0.000000,0.092635
885,0.850474,0.334004,A,0.029208,87.664051,0.262980,0.262980,87.762216,88.025196,0.098165,0.000000
886,0.980557,0.159042,A,0.003541,87.667591,0.070976,0.070976,88.025196,88.096172,0.357605,0.000000
887,0.653925,0.406581,A,0.076600,87.744192,0.126870,0.126870,88.096172,88.223042,0.351980,0.000000

In [466]:
print(serveur2_['serveur_libre'].mean())

print(serveur1_['serveur_libre'].mean())

print(serveur2_['attent'].mean())

print(serveur1_['attent'].mean())

print(sum(serveur2.serveur_libre)/3512)


taux_occup=1-sum(serveur2.serveur_libre)/3516.052786
print(taux_occup)

taux_fill=taux_occup*taux_occup/(1-taux_occup)
print(taux_fill)

nbr_system=taux_fill+taux_occup
print(nbr_system)

nbr_sejour=17*nbr_system
print(nbr_sejour)


nbr_sejour=8*nbr_system
print(nbr_sejour)

0.047001939063104244
0.026322771058372538
0.6856097737401929
0.9040133710541425
0.0023665942066477216
0.9976361336533851
421.0381253560011
422.0357614896545
7174.607945324126
3376.286091917236

### 3. loi Normal$ N(\mu,\sigma)$

In [475]:
#Box muller methode
def generateur_normal1(p1,p2):
    x=cos(2*pi*p1)*sqrt(-2*np.log(p2))
    return 4*x+8
def generateur_normal2(p1,p2):
    x=cos(2*pi*p1)*sqrt(-2*np.log(p2))
    return 4*x+17
def generateur_normal3(p1,p2):
    x=cos(2*pi*p1)*sqrt(-2*np.log(p2))
    return 4*x+20
def generateur_normal4(p1,p2):
    x=cos(2*pi*p1)*sqrt(-2*np.log(p2))
    return 4*x+30

In [477]:
temps_inter_arri1=np.random.uniform(0,1,1000)
temps_inter_arri2=np.random.uniform(0,1,1000)
type_client=np.random.uniform(0,1,1000)


serveur1=pd.DataFrame()
serveur2=pd.DataFrame()
d = {'temps_inter_arri1': temps_inter_arri1,'temps_inter_arri2': temps_inter_arri2, 'type_client': type_client}
df = pd.DataFrame(data=d)

df['label_client']=df.type_client.apply(client_label)

#df['label_temps_inter']=df['temps_inter_arri'].apply(label_temps_inter)
temps_inter_arri=np.random.uniform(0,1,1000)
type_client=np.random.uniform(0,1,1000)
df['label_client']=df.type_client.apply(client_label)


serveur1=df[df['label_client']=='A']
serveur2=df[df['label_client']=='B']


serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)




serveur1['label_temps_inter']= generateur_normal1(serveur1['temps_inter_arri1'], serveur1['temps_inter_arri2'])
serveur2['label_temps_inter']=generateur_normal2(serveur2['temps_inter_arri1'], serveur2['temps_inter_arri2'])


l=temps_arriv(serveur1.label_temps_inter)
serveur1['temps_arriv']=l

l=temps_arriv(serveur2.label_temps_inter)
serveur2['temps_arriv']=l


serveur2.sort_values(by='temps_arriv')


serveur1.shape[0]
serveur2.shape[0]


serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)
temps_service11=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
temps_service12=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
temps_service21=np.random.uniform(0,1,len(serveur2.temps_inter_arri))
temps_service22=np.random.uniform(0,1,len(serveur2.temps_inter_arri))

serveur1['temps_service11']=temps_service11
serveur1['temps_service12']=temps_service12
serveur2['temps_service21']=temps_service21
serveur2['temps_service22']=temps_service22




serveur1['label_temps_serv']=generateur_normal3(serveur1['emps_service11'], serveur1['temps_service12'])
serveur2['label_temps_serv']=generateur_normal4(serveur2['emps_service12'], serveur2['temps_service22'])




go_to_2=np.random.uniform(0,1,len(serveur1.temps_inter_arri))
go_to_1=np.random.uniform(0,1,len(serveur2.temps_inter_arri))

serveur2.sort_values(by='temps_arriv')

serveur1['go_to_2']=pd.DataFrame(go_to_2)
serveur2['go_to_1']=pd.DataFrame(go_to_1)
serveur2['goto1']=serveur2['go_to_1'].apply(goto1)
serveur1['goto2']=serveur1['go_to_2'].apply(goto2)



t1=debut_fin_service(serveur1.label_temps_serv,serveur1.temps_arriv)
t2=debut_fin_service(serveur2.label_temps_serv,serveur2.temps_arriv)

serveur1['depart']=t1[0]
serveur1['fin']=t1[1]

serveur2['depart']=t2[0]
serveur2['fin']=t2[1]


tm1=temps_attent(serveur1['depart'],serveur1['temps_arriv'])
tm2=temps_attent(serveur2['depart'],serveur2['temps_arriv'])
serveur1['attent']=tm1
serveur2['attent']=tm2

ts1=temps_system(serveur1['depart'],serveur1['fin'])
ts2=temps_system(serveur2['depart'],serveur2['fin'])
serveur1['temps_service']=ts1
serveur2['temps_service']=ts2

serv_libr_1=serveur_libre(serveur1['temps_arriv'],serveur1['fin'])
serv_libr_2=serveur_libre(serveur2['temps_arriv'],serveur2['fin'])
serveur1['serveur_libre']=serv_libr_1
serveur2['serveur_libre']=serv_libr_2

serveur1=serveur1.reset_index(drop=True)
serveur2=serveur2.reset_index(drop=True)

serveur1_=serveur1
serveur2_=serveur2
go_to_1_from_2=serveur2[serveur2['goto1']==1]
go_to_2_from_1=serveur1[serveur1['goto2']==1]
go_to_1_from_2=go_to_1_from_2.reset_index(drop=True)
go_to_2_from_1=go_to_2_from_1.reset_index(drop=True)

go_to_1_from_2


go_to_1_from_2['temps_arriv']=go_to_1_from_2['fin']
go_to_1_from_2=go_to_1_from_2.drop(columns=['go_to_1','goto1'])

go_to_2_from_1['temps_arriv']=go_to_2_from_1['fin']
go_to_2_from_1=go_to_2_from_1.drop(columns=['go_to_2','goto2'])

go_to_1_from_2=go_to_1_from_2.reset_index(drop=True)
go_to_2_from_1=go_to_2_from_1.reset_index(drop=True)

serveur1_=serveur1_.drop(columns=['go_to_2','goto2'])
serveur2_=serveur2_.drop(columns=['go_to_1','goto1'])

serveur1_=pd.concat([serveur1_,go_to_1_from_2])
serveur2_=pd.concat([serveur2_,go_to_2_from_1])

serveur1_=serveur1_.reset_index(drop=True)
serveur2_=serveur2_.reset_index(drop=True)

serveur1_=serveur1_.sort_values(by='temps_arriv')
serveur1_

serveur2_=serveur2_.sort_values(by='temps_arriv')
serveur2_

serveur1_=serveur1_.reset_index(drop=True)
serveur2_=serveur2_.reset_index(drop=True)





t1=debut_fin_service(serveur1_.label_temps_serv,serveur1_.temps_arriv)
t2=debut_fin_service(serveur2_.label_temps_serv,serveur2_.temps_arriv)
serveur2_['depart']=t2[0]
serveur2_['fin']=t2[1]
serveur1_['depart']=t1[0]
serveur1_['fin']=t1[1]
tm1=temps_attent(serveur1_['depart'],serveur1_['temps_arriv'])
tm2=temps_attent(serveur2_['depart'],serveur2_['temps_arriv'])
serveur1_['attent']=tm1
serveur2_['attent']=tm2
ts1=temps_system(serveur1_['depart'],serveur1_['fin'])
ts2=temps_system(serveur2_['depart'],serveur2_['fin'])
serveur1_['temps_service']=ts1
serveur2_['temps_service']=ts2
serv_libr_1=serveur_libre(serveur1_['temps_arriv'],serveur1_['fin'])
serv_libr_2=serveur_libre(serveur2_['temps_arriv'],serveur2_['fin'])
serveur1_['serveur_libre']=serv_libr_1
serveur2_['serveur_libre']=serv_libr_2

TypeError: cannot convert the series to <class 'float'>

In [454]:
serveur1

,temps_inter_arri,type_client,label_client,temps_arriv,label_temps_inter,temps_service,label_temps_serv,go_to_2,goto2,depart,fin,attent,serveur_libre
0,0.837692,0.199267,A,5,0.031939,0.220943,0.220943,0.050360,0,5,5.220943,0,0.000000
1,0.763089,0.258676,A,9,0.048760,0.021354,0.021354,0.310109,0,9,9.021354,0,3.779057
2,0.620679,0.131067,A,15,0.086010,0.233250,0.233250,0.966495,1,15,15.233250,0,5.978646
3,0.285325,0.464370,A,21,0.226165,0.098927,0.098927,0.085903,0,21,21.098927,0,5.766750
4,0.728155,0.097915,A,29,0.057210,0.016289,0.016289,0.555942,1,29,29.016289,0,7.901073
...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.035180,0.048990,A,3486,0.603639,0.008178,0.008178,0.549213,1,3486,3486.008178,0,3.990510
503,0.556670,0.351046,A,3496,0.105638,0.075476,0.075476,0.404348,0,3496,3496.075476,0,9.991822
504,0.550576,0.155497,A,3510,0.107623,0.034246,0.034246,0.647669,1,3510,3510.034246,0,13.924524
505,0.958439,0.248414,A,3512,0.007655,0.005306,0.005306,0.262938,0,3512,3512.005306,0,1.965754
506,0.989077,0.230367,A,3516,0.001981,0.043445,0.043445,0.737060,1,3516,3516.043445,0,3.994694

In [478]:
print(serveur2_['serveur_libre'].mean())

print(serveur1_['serveur_libre'].mean())

print(serveur2_['attent'].mean())

print(serveur1_['attent'].mean())

print(sum(serveur2.serveur_libre)/3512)


taux_occup=1-sum(serveur2.serveur_libre)/3516.052786
print(taux_occup)

taux_fill=taux_occup*taux_occup/(1-taux_occup)
print(taux_fill)

nbr_system=taux_fill+taux_occup
print(nbr_system)

nbr_sejour=17*nbr_system
print(nbr_sejour)


nbr_sejour=8*nbr_system
print(nbr_sejour)

0.047001939063104244
0.026322771058372538
0.6856097737401929
0.9040133710541425

AttributeError: 'DataFrame' object has no attribute 'serveur_libre'